SoundFile
accelerate
einops
einops-exts
git+https://github.com/resemble-ai/monotonic_align.git
gradio
librosa
matplotlib
munch
nltk
nltk
pandas
phonemizer
praat-parselmouth
pydub
pyyaml
scikit-learn
torch==2.5.0
torchaudio==2.5.0
tqdm
transformers
typing
typing-extensions
